 
  
  body {
   background: #eeee;
   font-family: 'Roboto';
  }
  .cb{
    clear: both;
  }
  .hidden{
    visibility: hidden;
  }
  .orichi-wrapper{ 
    background: white;
      max-width: 800px;
      margin: auto;
      margin-top: 15px;
      padding: 15px;
  }
  .orichi-head{
    display: flex;
    background: white;
  }
  .orichi-countdown, .orichi-fs{
    display: inline-block;
  }
  .orichi-countdown ul{
    padding-left: 15px;
    margin-top: 0;
    padding-bottom:0px;
    padding-top: 3px;
    /* margin-block-start: 17px; */
  }
  .orichi-countdown ul li span{
    display: table-cell;
    width: 20px;
    height: 20px;
    font-size: 15px;
    background: black;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 4px;
  }
 
   
  li {
    display: inline-block; 
    list-style-type: none; 
    text-transform: uppercase;
  }
   .orichi-product-item{
     float: left;
     width: calc((100% - (12px*4)) / 4);
      padding: 10px 6px;
      margin-bottom: 10px;
   }
  .flash-sale-progress-bar__fire {
    position: absolute;
    left: 3px;
    top: -6px;
}
.flash-sale-progress-bar__fire img {
  width: 18px;
}
.flash-sale-progress-bar {
    height: 16px;
    background: #ffbda6;
    position: relative;
    border-radius: 4px;
}
.flash-sale-progress-bar__text {
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  width: 100%;
  position: absolute;
  padding: 2px 0;
  text-align: center;
}
.flash-sale-progress-bar__complement-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffbda6;
}
.flash-sale-progress-bar__complement-sizer {
    background: #fff;
    float: right;
    position: relative;
    height: 18px;
}
.flash-sale-progress-bar__complement-wrapper {
  width: 50%;
  background: #EE4D2D;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 16px;
  border-radius: 4px;
}

.orichi-price-wrapper{ display: flex;}
.orichi-price-wrapper .orichi-price{font-size: 16px;font-weight: bold;color: #ee4d2d;margin-top: 12px; }
 .orichi-discount-price
 {
  position: absolute;
  background: #F3E9E7;
  top: -55%;
  right: -35%;
  font-size: 8px;
  color: #ee4d2d;
  font-weight: bold;
  padding: 2px;
  border: 1px solid #ee4d2d;
  }
.orichi-price-wrapper .orichi-price {
 position: relative;
}
.orichi-progress-bar{
  margin-top: 10px;
  display: block;
}
.orichi-price-old{
  color: rgba(0,0,0,.13);
  padding-top: 11x;
  vertical-align: bottom;
  display: table-column;
  margin-top: 5px;
  margin-right: 5px;
  text-decoration: line-through;
}
.orichi-hr{
  display: block;
    margin-bottom: 25px;
    border: 1px solid rgba(0,0,0,.05);
}
.orichi-product-item:hover{
  box-shadow: 1px 1px 6px 3px #b3b3b321;
}

.orichi-product-list{
  position: relative;
}
.orichi-product-list .slick-prev{
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  background: #EE4D2D;
  padding: 15px 3px;
  color: #fff;
  transform: translateY(-50%);
}
.orichi-product-list .slick-next{
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  background: #EE4D2D;
  padding: 15px 3px;
  color: #fff;
  transform: translateY(-50%);
}
.orichi-product-list .slick-prev:hover,.orichi-product-list .slick-next:hover{
  cursor: pointer;
}

.orichi-view-more{
  text-align: center;
}

.btn-view-more{
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  padding: 6px 10px;
  color: #fff;
  background: #EE4D2D;
}

#spin-loading{
  visibility: hidden;
}

/* .orichi-product-list{
  animation: 1s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */